# Python
__pycache__/
*.pyc
*.pyo
venv/

# Git
.git/


# Virtual environments
venv/
.venv/

# Database
*.db
*.sqlite
*.sqlite3
*.db-journal

# VS Code
.vscode/

# macOS
.DS_Store

# VS Code
.vscode/


