.navbar-dark {
    background-color: #1F1D20;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.main-center-y {
    display: flex;
    align-items: center;
    justify-content: center;
}

.filled-side {
    background: linear-gradient(to bottom,
            #fffdf8 0%,
            #fff7e9 40%,
            #ffeed1 100%);
}

.btn-primary {
    background-color: #4c2e19;
    border-color: #4c2e19;
}

.btn-primary:hover {
    background-color: #e19b56;
    border-color: #e19b56;
}

.btn-secondary {
    background-color: #bc783d;
    border-color: #bc783d;
}

.btn-secondary:hover {
    background-color: #e19b56;
    border-color: #e19b56;
}

.btn-outline-secondary {
    border-color: #4c2e19;
}

.btn-outline-secondary:hover {
    background-color: #fbf5eb;
    border-color: #ffeed1;
    color: #4c2e19;
}

.accent-word {
    color: #4c2e19;
    font-weight: inherit;
    font-style: italic;
}

.dashboard-tracker {
    max-width: 560px;
}



.tracker-btn {
    white-space: nowrap;
}

@media (min-width: 768px) {
    .tracker-btn {
        width: 130px;
    }
}

.category-card {
    background-color: #fffdf8;
    /* very light cream */
    border: 1px solid #ffeed1;
    border-radius: 14px;
    padding: 14px 16px;
}

.category-card .form-check {
    margin-bottom: 6px;
}

/* Subcategory container */
.category-card .subcats {
    border-left: 3px solid #ffeed1;
    padding-left: 14px;
    margin-top: 10px;
}

.category-card.is-open {
    box-shadow: 0 8px 20px rgba(31, 29, 32, 0.08);
    border-color: #e19b56;
}



/* Colors
#1F1D20
#b96d33

#4c2e19
#fff2d3
#b16630
#e49e5b
#fff2d3
*/