.navbar-dark {
    background-color: #1F1D20;
}


.btn-primary {
    background-color: #4c2e19;
    border-color: #4c2e19;
}


.btn-outline-secondary {
    border-color: #4c2e19;
}






/* Colors
#1F1D20
#b96d33

#fff2d3
#b16630
#e49e5b
#fff2d3
*/