{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="container-fluid px-0">
    <div class="row min-vh-100 g-0">

        <!-- Left side (image) -->
        <div class="col-md-6 d-none d-md-flex align-items-center justify-content-center">
            <img src="{{ url_for('static', filename='login-img2.png') }}" class="img-fluid" style="width: 900px;"
                alt="Login illustration">
        </div>

        <!-- Right side (form) -->
        <div class="col-md-6 d-flex align-items-center justify-content-center filled-side">
            <div class="w-75">
                <h2 class="mb-4 text-center ">Login</h2>
                <p class="text-center text-muted small mb-2">Welcome back! 👋</p>

                <!-- Login form (Adapted from Bootstrap documentation: forms overview)-->
                <form action="/login" method="post" autocomplete="off">
                    <div class="mb-4">
                        <label for="loginEmail" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="loginEmail" name="email" required>
                        <div class="form-text">We'll never share your email with anyone else.</div>
                    </div>

                    <div class="mb-4">
                        <label for="loginPassword" class="form-label">Password</label>
                        <div class="input-group">
                            <input type="password" class="form-control" id="loginPassword" name="password" required>
                            <button type="button" class="btn btn-outline-secondary toggle-password"
                                data-target="loginPassword" aria-label="Show password">
                                <i class="bi bi-eye"></i>
                            </button>
                        </div>
                    </div>


                    <button type="submit" class="btn btn-secondary d-block mx-auto">Login to Dashboard</button>
                </form>

                <div class="d-flex flex-column align-items-center mt-5">
                    <p class="text-center text-muted small"><b>Don't have an account yet?</b></p>
                    <a href="{{ url_for('signup') }}" class="btn btn-link p-0">Create a new one</a>
                </div>

            </div>
        </div>

    </div>
</div>


{% endblock %}