{% extends "layout.html" %}

{% block title %}Signup{% endblock %}

{% block content %}

<div class="container-fluid px-0">
    <div class="row min-vh-100 g-0">

        <!-- Left side (image) -->
        <div class="col-md-6 d-none d-md-flex align-items-center justify-content-center">
            <img src="{{ url_for('static', filename='signup-img.png') }}" class="img-fluid" alt="Login illustration">
        </div>

        <!-- Right side (form) -->
        <div class="col-md-6 d-flex align-items-center justify-content-center filled-side">
            <div class="w-75">
                <h2 class="mb-4 text-center">Hello!</h2>
                <p class="text-center text-muted small">Let's get you set up!</p>

                <!-- Login form (Adapted from Bootstrap documentation: forms overview)-->
                <!-- https://getbootstrap.com/docs/5.3/forms/overview/ -->
                <form action="/signup" method="post" autocomplete="off">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" name="name" autocomplete="off"
                            placeholder="e.g Fulano" required>
                    </div>
                    <div class="mb-3">
                        <label for="signupEmail" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="signupEmail" aria-describedby="emailHelp"
                            name="email" autocomplete="off" placeholder="e.g fulano@example.com" required>
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-4">
                        <label for="signupPassword" class="form-label">Password</label>

                        <div class="input-group">
                            <input type="password" class="form-control" id="signupPassword" name="password"
                                autocomplete="new-password" placeholder="8+ characters" required>
                            <button type="button" class="btn btn-outline-secondary toggle-password"
                                data-target="signupPassword" aria-label="Show password">
                                <i class="bi bi-eye"></i>
                            </button>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-secondary d-block mx-auto">Create Account</button>

                </form>

                <div class="d-flex justify-content-center align-items-center gap-1 mt-5">
                    <span class="text-muted small"><b>Already have an account?</b></span>
                    <a href="{{ url_for('login') }}" class="btn btn-link p-0">Log In</a>
                </div>

            </div>
        </div>

    </div>
</div>
{% endblock %}